*{
    padding: 0;
    margin: 0;
}

.google-img{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 10%;    
}


.search-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0 auto  0 ;
    width: 1000px;
    background-color: #eeeeee;
    box-sizing: border-box;
}

.search{
    border: 1px solid black;
    width: 300px;
      
}

.btn-group{
display: row;
justify-content:center ;
align-items: center;
 
}
.btn{
background-color: #eeeeee;

margin-right: 20px;
width: auto;
}


.footer{
    width: 1000px;
    padding: 10px;
    margin:  -5px auto;

}

.card{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 300px;
 padding: 5px;
 margin-right: 5px;
 box-sizing: border-box;
 
 
}

.content {
 display: flex;
 justify-content:center;
 gap:5px;
   
}
.footer a, 
.footer p  {
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
    font-family: "Pixelify Sans", sans-serif;
}

.copyright{
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
}











/*
.footer{
    width: auto;
     background-color: #7EE5DA;
     height: auto;
     margin: 20px auto;
     
} 


.content{
   float: left;
}

.card{
    display: flex;
    width: 200px;
    height: 100px;
    padding: 1%;
    margin-right: 5px;
    border: 2px;
    float: left;
  
   
}